* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline-color: transparent;
  outline-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  overflow: auto; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent;
  text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.wrap {
  max-width: 960px;
  min-width: 720px;
  margin: 0 auto;
  padding: 0 10px; }

*, *:after, *:before {
  box-sizing: border-box; }

.animenu__toggle {
  display: none;
  cursor: pointer;
  background-color: #305673;
  border: 0;
  padding: 10px;
  height: 40px;
  width: 40px; }
  .animenu__toggle:hover {
    background-color: #0186ba; }

.animenu__toggle__bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55); }
  .animenu__toggle__bar + .animenu__toggle__bar {
    margin-top: 4px; }

.animenu__toggle--active .animenu__toggle__bar {
  margin: 0;
  position: absolute; }
  .animenu__toggle--active .animenu__toggle__bar:nth-child(1) {
    transform: rotate(45deg); }
  .animenu__toggle--active .animenu__toggle__bar:nth-child(2) {
    opacity: 0; }
  .animenu__toggle--active .animenu__toggle__bar:nth-child(3) {
    transform: rotate(-45deg); }

.animenu {
  display: block;
  height: 140px; }
  .animenu ul {
    padding: 0;
    list-style: none;
    font: 0px 'Open Sans', Arial, Helvetica; }
  .animenu li, .animenu a {
    display: inline-block;
    font-size: 15px; }
  .animenu a {
    color: #e2ecf3;
    text-decoration: none; }

.animenu__nav {
  background-color: #305673; }
  .animenu__nav > li {
    position: relative;
    border-right: 1px solid #528bb7; }
    .animenu__nav > li > a {
      padding: 10px 30px;
      text-transform: uppercase; }
      .animenu__nav > li > a:first-child:nth-last-child(2):before {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        border-bottom: 0;
        border-top-color: currentColor;
        top: 50%;
        margin-top: -2px;
        right: 10px; }
    .animenu__nav > li:hover > ul {
      opacity: 1;
      visibility: visible;
      margin: 0; }
    .animenu__nav > li:hover > a {
      color: #fff; }

.animenu__nav__child {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 20px 0 0 0;
  background-color: #477ea9;
  transition: margin .15s, opacity .15s; }
  .animenu__nav__child > li {
    width: 100%;
    border-bottom: 1px solid #6497be; }
    .animenu__nav__child > li:first-child > a:after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      left: 1em;
      top: -6px;
      border: 6px solid transparent;
      border-top: 0;
      border-bottom-color: inherit; }
    .animenu__nav__child > li:last-child {
      border: 0; }
  .animenu__nav__child a {
    padding: 10px;
    width: 100%;
    border-color: #477ea9; }
    .animenu__nav__child a:hover {
      background-color: #0186ba;
      border-color: #0186ba;
      color: #fff; }

@media screen and (max-width: 767px) {
  .animenu__toggle {
    display: inline-block; }

  .animenu__nav,
  .animenu__nav__child {
    display: none; }

  .animenu__nav {
    margin: 10px 0; }
    .animenu__nav > li {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #6497be; }
      .animenu__nav > li:last-child {
        border: 0; }
      .animenu__nav > li:first-child > a:after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: 1em;
        top: -6px;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: inherit; }
      .animenu__nav > li > a {
        width: 100%;
        padding: 10px;
        border-color: #305673;
        position: relative; }
    .animenu__nav a:hover {
      background-color: #0186ba;
      border-color: #0186ba;
      color: #fff; }

  .animenu__nav__child {
    position: static;
    background-color: #477ea9;
    margin: 0;
    transition: none;
    visibility: visible;
    opacity: 1; }
    .animenu__nav__child > li:first-child > a:after {
      content: none; }
    .animenu__nav__child a {
      padding-left: 20px;
      width: 100%; } }
.animenu__nav--open {
  display: block !important; }
  .animenu__nav--open .animenu__nav__child {
    display: block; }

.login {
  height: 100%;
  background-color: #305673;
  background-size: cover;
  text-align: center; }
  .login h1 {
    margin-top: 30vh;
    font-size: 4em; }
  .login md-content {
    width: 600px;
    margin: 0 auto;
    background-color: transparent !important; }
  .login md-card {
    background-color: #fff; }
  .login label {
    float: left; }
  .login input {
    width: 100%; }

.createuser {
  height: 100%;
  background-color: #305673;
  background-size: cover;
  text-align: center; }
  .createuser h1 {
    font-size: 4em; }
  .createuser md-content {
    width: 500px;
    margin: 0 auto;
    background-color: transparent !important; }
  .createuser md-card {
    background-color: #FFF; }
  .createuser .card {
    background-color: #808080; }
  .createuser label {
    float: left;
    color: #0000FF; }
  .createuser input {
    width: 100%; }
  .createuser md-button {
    margin-top: 20px; }
  .createuser .textfields {
    margin: 0px 5px 0px 5px;
    background-color: #FFFFFF; }
  .createuser ul {
    margin: 0;
    padding: 0; }
  .createuser ul.sideways > li {
    display: inline-block;
    width: 210px;
    margin: 0;
    vertical-align: top; }

body > div {
  height: 100%; }

body {
  background-color: #305673; }

/*# sourceMappingURL=style.css.map */
