

<section class="createuser">

  <h1>kreate user</h1>
  <md-content>
  <md-card>
  <form style="padding: 20px;">
    <ul class="sideways">
      <li>
        <md-text-float label="First Name" ng-model="user.firstname" type="text" class="textfields"></md-text-float>
      </li>
      <li>
       <md-text-float label="Last Name" ng-model="user.lastname" type="text" class="textfields"></md-text-float>
      </li>
    </ul>
    <md-text-float label="Email" ng-model="user.email" type="email" class="textfields"></md-text-float>
    <md-text-float label="Password" ng-model="user.password" type="password" class="textfields"></md-text-float>
    <div ><md-button class="md-raised" ng-click="createUser();">Create User</md-button></div>
  </form>
  </md-card>
  </md-content>
</section>