

<section class="createuser">

  <h1>kreate app</h1>
  <md-content>
  <md-card>
  <form style="padding: 20px;">
    <md-text-float label="Customer" ng-model="app.customer" type="text" class="textfields"></md-text-float>
    <md-text-float label="Title" ng-model="app.title" type="text" class="textfields"></md-text-float>
    <md-text-float label="Database" ng-model="app.database" type="text" class="textfields"></md-text-float>
    <md-text-float label="AssetPath" ng-model="app.assetPath" type="text" class="textfields"></md-text-float>
    <div ><md-button class="md-raised">Create App</md-button></div>
  </form>
  </md-card>
  </md-content>
</section>

